body,
html {
  height: 100%;
}

.bg {
  background-image: url("images/backgroundImage.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  margin-top: 30px;
  background-color: #d2cec5;
}

nav {
  background-color: #a6c3bf;
}

.btn {
  background-color: #8fa7a3;
  border: #8fa7a3;
}

.form-control {
  background-color: whitesmoke;
  border: none;
}

.col ul li a {
  color: #008080;
  text-decoration: underline;
}

.btn:hover {
  background-color: #242900;
}

.footer {
  background-color: #637371;
  color: black;
}

.content {
  background-color: #dcd5c6;
}